/* Mixins */
@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@mixin flex-row {
    @include flex-column;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@mixin with-left-line($color, $width, $left, $bottom: 0, $height: 100%) {
    &:before {
        position: absolute;
        border-radius: 5px;
        left: $left;
        content: "";
        width: $width;
        background-color: $color;
        height: $height;
        bottom: $bottom;
        display: inline-block;
    }
}

/* Variables */
$dark-grey: #8C8C8C;
$light-grey: #DEDEDE;
$grey:#7D7D7D;
$almost_white: #F6F6F6;
$pink: #F476C7;
$yellow: #FDD706;
$blue: #0095F6;

/* Classes */
